@Model MvcImage.Models.ImagesModels;
@{
    ViewBag.Title = "IndexJS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using MvcImage.Models;
@{
    string KJID = string.Empty;
    string KJIDM = string.Empty;
    if (ViewData["KJID"] != null)
    {
        KJID = Convert.ToString(ViewData["KJID"]);
    }
    if (ViewData["KJIDM"] != null)
    {
        KJIDM = Convert.ToString(ViewData["KJIDM"]);
    }
    //if(Model != null)
    //{
    //    ImagesModels ims = Model as ImagesModels;
    //    KJID = ims.ImagePic;
    //    KJIDM = ims.ImageHidPic;
    //}
}
@*@section HeadCss{*@
    <style type="text/css">
        form{
            border:1px solid #CCC;
            border-radius:5px;
            padding:10px;
            margin:10px 0;
            width:400px;
            background:#EEE;
        }
    </style>
@*}*@
@*@section HeadScript{*@
    <script src="~/Scripts/jquery-form.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#btn_show").bind("click", function () {
                $("#form_upload").show();
                var options = {
                    success: function (responseText, statusText, xhr, $form) {
                        var picPath = responseText.pic;
                        if (picPath == "") {
                            alert(responseText.error);
                        }
                        else {
                            $("#form_upload").hide();
                            $("#result").attr("src", picPath).show();
                            //$("#imgPic").attr("src", picPath);
                            $("#hidUrlImg").val(picPath);
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        console.log(textStatus);
                        console.log(errorThrown);
                    }
                };
                $("#form_upload").ajaxForm(options);
            });

            $("#imgUpLoad").change(function () {
                var file = this.files[0];
                if (this.files && file) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $("#result").attr("src", e.target.result);
                    }
                    reader.readAsDataURL(file);
                    var param = "?1=1";
                    //Ajax处理
                    $("#form_upload").ajaxSubmit({
                        success: function (responseText, statusText, xhr, $form) {
                            var picPath = responseText.pic;
                            if (picPath == "") {
                                alert(responseText.error);
                            }
                            else {
                                $("#form_upload").hide();
                                $("#result").attr("src", picPath).show();
                                $("#hidUrlImg").val(picPath);
                            }
                        }
                    });

                    @*$.ajax({
                        url: '@Url.Action("JSUpload","Home")' + param,
                        type: "post",
                        datatype: "json",
                        beforeSend: function () { $("#LoadingDiv").show(); },
                        complete: function () { $("#LoadingDiv").hide(); },
                        error: function (a, b, c) { window.location = '@Url.Action("Error", "Share")'; },
                    success: function (data) {
                        if (data) {
                            alert(data.Count);
                        } else {
                            alert("认领失败2");
                        }
                    }
                    })*@

                }
            });
        });

        function hiddenPop() {
            $("#popupbg").fadeOut("slow");
            $('#popupResult').fadeOut("slow");
            var mKJID = $("#hidKJID").val();
            var mUrlImg = $("#hidUrlImg").val();
            var mKJDM = $("#hidKJIDM").val();
            $("[id=" + mKJID + "]").attr("src", mUrlImg);
            $("[id=" + mKJDM + "]").attr("src", mUrlImg);
        }
    </script>
@*}*@
<input type="button" id="btn_show" value="上传图片" /><br />
<input type="button" value="关闭层" onclick="hiddenPop();"/>
<form id="form_upload" style="padding:20px; display:none;" action="/Home/JSUpload" method="post" enctype="multipart/form-data">
    <input name="imgUpLoad" id="imgUpLoad" style="width:350px;height:25px;" size="38" type="file"/>
    <input type="submit" value="上传"/>
    <input type="hidden" value="@KJID" id="hidKJID" />
    <input type="hidden" value="@KJIDM" id="hidKJIDM" />
    <input type="hidden" value="" id="hidUrlImg" />
</form>
<img alt="" style="display:none;" id="result" src="" />